        * {
            margin: 0;
            font-size: 20px;
        }

        hr {
            border: 1px solid rgb(0, 0, 0);
        }

        h1 {
            color: black;
            text-align: center;
            font-size: 160%;
            text-shadow: 2px 2px 2px #00eeff;
            transition: transform 3s;
        }

        h1:hover {
            transform: rotateY(180deg);
        }

        body {
            background-image: url("../img/background.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
        }

        .find {
            position: absolute;
            right: 5%;
            top: 38%;
            font-size: 125%;
            border-radius: 5px;
            width: 4%;
            transition: width 1s;
        }

        .find:hover {
            width: 20%;
        }

        .a_top {
            color: rgb(255, 255, 255);
            margin-left: 3%;
            text-decoration: none;
            font-size: 120%;
        }

        .a_top:hover {
            color: #fcf00a;
        }

        .content {
            color: black;
            font-size: 20px;
            background-image: linear-gradient(to bottom, #fcf00aea, #00eeffe4);
            margin-left: 15%;
            margin-right: 15%;
            padding: 10%;
            border-left: 2px solid black;
            border-right: 2px solid black;
        }

        .fotter {
            background-color: black;
            color: white;
            text-align: center;
            font-size: large;
            padding: 20px;
        }

        form input {
            font-size: 110%;
            border-radius: 5px;
            margin-bottom: 3%;
            width: 50%;
        }

        button {
            border-radius: 15px;
            width: 15%;
            box-shadow: 0 6px #999;
            border: none;
            background-color: black;
            color: white;
        }

        button:hover {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            cursor: pointer;
        }

        button:active {
            box-shadow: 0 3px #999;
            transform: translate(0, 2px);
        }